/*
 * CONTENTS:
 *
 * BODY
 *
 * HEADER (35)
 *   Header Div...............(Header main div).
 *   Header main text.........(Header main text).
 *   Header p text............(Header small text).
 *
 * BUTTONS (58)
 *   Add recipe button.
 *   Delete recipe button.
 *
 * RECIPES PANELS (99)
 *   Panel container..........(Div that contains panel div).
 *   Panel div................(Recipe panel).
 *   Panel header.............(Panel header div).
 *   Panel header <a>.........(Panel header text <a> tag).
 *   Separator................(Border color between panel header and body).
 *   Collapsible div..........(Recipe panel collapsible div).
 *   Info container...........(Ingredients and Instructions container).
 *   Ingredients div..........(Ingredients div and childs).
 *   Instructions div..........(Instructions div).
 *
 * TOASTR ALERTS (207)
 */


/*------------------------------------*\
  #GLOBALS AND BODY
\*------------------------------------*/

body {
  background-color: #7c50d9;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}


/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
  background-image: url("pattern.png");
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  padding: 15px 0 5px 0;
}

header h2 {
  font-size: 34px;
  font-weight: 700;
  margin: 0;
}

header p {
  font-size: 12px;
  margin: 10px 0 0 0;
}



/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

button {
  margin: 0 2px;
}

/* Add recipe button */
.addRecipeBtn {
  margin: 20px auto;
}

/* Delete recipe button */
.delete-button {
  background-color: #8A5EE7;
  border: 0;
  color: #fff;
  display: none;
  font-size: 24px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 8px;
  top: -32px;
}

.delete-button:hover {
  background-color: transparent;
  color: #f84949;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.9), 0 0 5px rgba(255, 255, 255, 0.5);
}

/* This matches delete button background with parent color when hovering */
.panel-heading:hover ~ .panel-collapse .delete-button {
  background-color: rgba(0, 0, 0, 0.001);
}

.in .delete-button { /* Display delete button only when panel is open */
  display: block;
}



/*------------------------------------*\
  #RECIPES PANELS
\*------------------------------------*/

/* Panel container */
.panel-group {
  margin-bottom: 10px; /* Space between panels */
}

/* Panel div */
.panel-group .panel {
  background-color: #8a5ee7;
  border-color: #8a5ee7;
  border-radius: 8px;
  border-top-color: #9065ea;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Panel header div */
.panel-default > .panel-heading {
  background-color: #8a5ee7;
  border-color: #8a5ee7;
  border-radius: 8px;
  color: #fff;
}

.panel-heading:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #66cc66;
}

/* Panel title anchor tag */
.panel-title a {
  cursor: pointer;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  text-decoration: none;
}

/* Separator: border color between header and body */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #936fdf;
}

/* Collapsible panel div */
.panel-collapse {
  -webkit-perspective: 800px;
  perspective: 800px;
}

/* Ingredients and Instructions container */
.panelData {
  font-family: Helvetica, sans-serif;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.panelData.flipped { /* Panel flip effect */
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.panelData div { /* Common style for Ingredients and Instructions divs*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #8A5EE7;
}

/* Ingredients div */
.ingredients {
  position: absolute;
  text-align: left;
  width: 100%;
}

.ingredients ul { /* Ingredients list */
  columns: 2;
  padding-left: 20px;
}

.ingredients-header {
  display: block;
  text-align: center;
}

/* Instructions div */
.panelData .instructions {
  -webkit-transform: rotateY(180deg);
  float: left;
  text-align: justify;
  transform: rotateY(180deg);
}



/*------------------------------------*\
  #TOASTR ALERTS
\*------------------------------------*/

.alert {
  margin: 0;
  padding: 5px;
}
